@media only screen and (max-width: 767px) {
  p{ line-height: 1.4; }

  h1{ font-size: 2.8em; line-height: 1; }
  h2{ font-size: 2.2em; line-height: 1.1; }
  h3{ font-size: 1.8em; }
}

@media only screen and (max-width: 479px) {
  body{ font-size: 12px; }
}
